.login__screen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg") center no-repeat ;
  background-size: cover;
}

.login__screenLogo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.login__screenGradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.login__screenButton {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.login__screenBody {
    z-index: 1;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
}

.login__screenBody > h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.login__screenBody > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.login__screenBody > h3 {
    font-size: 1rem;
    font-weight: 400;
}

.login__screenInput > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.login__screenGetStarted {
    padding: 16px 20px;
    font-size: 1rem;
    border: none;
    background-color: #e50914;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.login__screenInput{
    margin: 20px;
}