.profile__screen {
    height: 100vh;
    color: white;
}

.profile__screenBody {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profile__screenBody > h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profile__screenInfo {
    display: flex;

}


.profile__screenInfo > img {
    height: 100px;

}

.profile__screenDetails {
    color: white;
    margin-left: 25px;
    flex:1;
}

.profile__screenDetails > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profile__screenSignout {
    padding:10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.profile__screenPlans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
    }